In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Create a Python list with the top ten FBI's Most Wanted names

In [2]:
url = "https://www.fbi.gov/wanted/topten"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a

In [4]:
most_wanted = []
for name in soup.select("h3 > a"):
    most_wanted.append(name.get_text())
    
    
most_wanted

['RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO']

### Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [5]:
url = "https://www.emsc-csem.org/Earthquake/"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, 'html.parser')

In [16]:
soup.select("td:nth-child(7)")

[<a href="/Earthquake/earthquake.php?id=1065434">2021-11-22   20:03:20.3</a>,
 <a href="/Earthquake/earthquake.php?id=1065432">2021-11-22   19:52:37.5</a>,
 <a href="/Earthquake/earthquake.php?id=1065433">2021-11-22   19:52:37.1</a>,
 <a href="/Earthquake/earthquake.php?id=1065431">2021-11-22   19:47:58.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065428">2021-11-22   19:47:07.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065427">2021-11-22   19:40:52.4</a>,
 <a href="/Earthquake/earthquake.php?id=1065426">2021-11-22   19:38:48.3</a>,
 <a href="/Earthquake/earthquake.php?id=1065425">2021-11-22   19:37:15.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065429">2021-11-22   19:32:40.6</a>,
 <a href="/Earthquake/earthquake.php?id=1065424">2021-11-22   19:20:07.9</a>,
 <a href="/Earthquake/earthquake.php?id=1065419">2021-11-22   19:10:30.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065420">2021-11-22   19:09:57.3</a>,
 <a href="/Earthquake/earthquake.php?id=1065418">2021-11-22   18:57:14.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065417">2021-11-22   18:41:30.4</a>,
 <a href="/Earthquake/earthquake.php?id=1065414">2021-11-22   18:27:29.2</a>,
 <a href="/Earthquake/earthquake.php?id=1065416">2021-11-22   18:12:58.6</a>,
 <a href="/Earthquake/earthquake.php?id=1065410">2021-11-22   17:13:16.4</a>,
 <a href="/Earthquake/earthquake.php?id=1065408">2021-11-22   17:10:33.2</a>,
 <a href="/Earthquake/earthquake.php?id=1065406">2021-11-22   16:49:50.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065404">2021-11-22   16:46:16.5</a>,
 <a href="/Earthquake/earthquake.php?id=1065405">2021-11-22   16:38:21.1</a>,
 <a href="/Earthquake/earthquake.php?id=1065400">2021-11-22   16:07:04.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065398">2021-11-22   15:58:26.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065402">2021-11-22   15:48:10.8</a>,
 <a href="/Earthquake/earthquake.php?id=1065401">2021-11-22   15:44:13.2</a>,
 <a href="/Earthquake/earthquake.php?id=1065394">2021-11-22   15:40:49.2</a>,
 <a href="/Earthquake/earthquake.php?id=1065396">2021-11-22   15:37:57.9</a>,
 <a href="/Earthquake/earthquake.php?id=1065403">2021-11-22   15:36:30.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065397">2021-11-22   15:34:27.3</a>,
 <a href="/Earthquake/earthquake.php?id=1065391">2021-11-22   15:13:33.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065390">2021-11-22   15:13:11.6</a>,
 <a href="/Earthquake/earthquake.php?id=1065392">2021-11-22   15:12:04.6</a>,
 <a href="/Earthquake/earthquake.php?id=1065388">2021-11-22   14:54:39.7</a>,
 <a href="/Earthquake/earthquake.php?id=1065389">2021-11-22   14:51:08.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065387">2021-11-22   14:38:09.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065385">2021-11-22   14:29:59.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065382">2021-11-22   14:26:45.5</a>,
 <a href="/Earthquake/earthquake.php?id=1065383">2021-11-22   14:22:52.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065381">2021-11-22   14:18:30.7</a>,
 <a href="/Earthquake/earthquake.php?id=1065384">2021-11-22   14:08:35.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065386">2021-11-22   14:07:30.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065380">2021-11-22   14:01:48.7</a>,
 <a href="/Earthquake/earthquake.php?id=1065368">2021-11-22   13:59:31.2</a>,
 <a href="/Earthquake/earthquake.php?id=1065366">2021-11-22   13:56:50.1</a>,
 <a href="/Earthquake/earthquake.php?id=1065365">2021-11-22   13:37:11.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065364">2021-11-22   13:27:30.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065359">2021-11-22   13:23:34.2</a>,
 <a href="/Earthquake/earthquake.php?id=1065361">2021-11-22   13:19:51.0</a>,
 <a href="/Earthquake/earthquake.php?id=1065358">2021-11-22   13:18:08.9</a>,
 <a href="/Earthquake/earthquake.php?id=1065360">2021-11-22   13:13:45.0</a>]

In [13]:
date_time =[]
latitude =[]
longitude =[]
region_name =[]
for i in range(20):
    date_time.append(soup.select("td > b > a")[i].get_text())
    latitude.append(soup.select("td:nth-child(5)")[i].get_text())
    longitude.append(soup.select("td:nth-child(7)")[i].get_text())
    region_name.append(soup.select("td.tb_region")[i].get_text())
    
len(date_time)

20

In [14]:
earthquakes = pd.DataFrame({"date_time":date_time,
                            "latitude":latitude,
                           "longitude":longitude,
                           "region_name":region_name})

In [15]:
earthquakes

                   datetime latitude longitude                    region_name
0   2021-11-22   20:03:20.3   28.56     17.80    CANARY ISLANDS, SPAIN REGION
1   2021-11-22   19:52:37.5   28.57     17.80    CANARY ISLANDS, SPAIN REGION
2   2021-11-22   19:52:37.1   38.98     15.76                   SICILY, ITALY
3   2021-11-22   19:47:58.0   11.73    124.21              LEYTE, PHILIPPINES
4   2021-11-22   19:47:07.0   38.29     22.64                          GREECE
5   2021-11-22   19:40:52.4   28.57     17.81    CANARY ISLANDS, SPAIN REGION
6   2021-11-22   19:38:48.3   28.57     17.80    CANARY ISLANDS, SPAIN REGION
7   2021-11-22   19:37:15.0    1.58    120.45             SULAWESI, INDONESIA
8   2021-11-22   19:32:40.6   28.50     17.83    CANARY ISLANDS, SPAIN REGION
9   2021-11-22   19:20:07.9   28.59     17.77    CANARY ISLANDS, SPAIN REGION
10  2021-11-22   19:10:30.0   42.30    143.10          HOKKAIDO, JAPAN REGION
11  2021-11-22   19:09:57.3   28.56     17.84    CANARY ISLANDS, SPAIN REGION
12  2021-11-22   18:57:14.0   12.47     87.68         NEAR COAST OF NICARAGUA
13  2021-11-22   18:41:30.4   28.57     17.84    CANARY ISLANDS, SPAIN REGION
14  2021-11-22   18:27:29.2   28.68     17.92    CANARY ISLANDS, SPAIN REGION
15  2021-11-22   18:12:58.6   35.67      3.55             STRAIT OF GIBRALTAR
16  2021-11-22   17:13:16.4   34.26    177.84            NORTH OF NEW ZEALAND
17  2021-11-22   17:10:33.2   18.11    178.31                     FIJI REGION
18  2021-11-22   16:49:50.0   28.53     17.85    CANARY ISLANDS, SPAIN REGION
19  2021-11-22   16:46:16.5   28.62     17.84    CANARY ISLANDS, SPAIN REGION

## List all language names and number of related articles in the order they appear in wikipedia.org

In [44]:
url = "https://www.wikipedia.org"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, 'html.parser')

In [45]:
soup.select("#js-link-box-en > strong")

In [46]:
soup.select("#js-link-box-en > small > bdi")

In [ ]:
#js-link-box-ru > strong

In [47]:
soup.select("a.link-box > strong")

[<strong>English</strong>,
 <strong>日本語</strong>,
 <strong>Русский</strong>,
 <strong>Deutsch</strong>,
 <strong>Español</strong>,
 <strong>Français</strong>,
 <strong>中文</strong>,
 <strong>Italiano</strong>,
 <strong>Português</strong>,
 <strong>Polski</strong>]

In [48]:
soup.select("small > bdi")

[<bdi dir="ltr">6 383 000+</bdi>,
 <bdi dir="ltr">1 292 000+</bdi>,
 <bdi dir="ltr">1 756 000+</bdi>,
 <bdi dir="ltr">2 617 000+</bdi>,
 <bdi dir="ltr">1 717 000+</bdi>,
 <bdi dir="ltr">2 362 000+</bdi>,
 <bdi dir="ltr">1 231 000+</bdi>,
 <bdi dir="ltr">1 718 000+</bdi>,
 <bdi dir="ltr">1 074 000+</bdi>,
 <bdi dir="ltr">1 490 000+</bdi>]

In [52]:
language = []
nb_articles = []

for i in range(len(soup.select("a.link-box > strong"))) :
    language.append(soup.select("a.link-box > strong")[i].get_text())
    nb_articles.append(soup.select("small > bdi")[i].get_text())
    
    
boxes = pd.DataFrame({"language":language, "number_of_articles":nb_articles})
boxes

    language number_of_articles
0    English         6 383 000+
1        日本語         1 292 000+
2    Русский         1 756 000+
3    Deutsch         2 617 000+
4    Español         1 717 000+
5   Français         2 362 000+
6         中文         1 231 000+
7   Italiano         1 718 000+
8  Português         1 074 000+
9     Polski         1 490 000+